<h1>My rented books</h1>

<% @rentals.each do |rental| %>
  <% if rental.user == current_user %>
    <h2 class="mt-3"><%= rental.book[:title] %></h2>
    <p><%= rental.book[:author]%> </p>
    <p><%= rental.start_date %></p>
    <p><%= rental.end_date %></p>
    <p>Status: 
      <% if rental.status == "Pending"%>
        <button class="btn btn-warning"><%= rental.status %></button>
      <% elsif rental.status == "Accepted"%>
        <button class="btn btn-success"><%= rental.status %></button>
      <% elsif rental.status == "Rejected"%>
        <button class="btn btn-danger"><%= rental.status %></button>
      <% end %>
    </p>
    <% if rental.status == "Accepted" %>
      <% user_mail = rental.book.user.email %>
      <div id="contact-owner" class="btn btn-outline-dark"><a class="no-deco" href="mailto:<%= user_mail %>?subject=Hi! I'd like to pick up the book!">Contact owner</a></div>
    <% end %>
    <%= link_to "Edit rental", edit_book_rental_path(rental.book, rental), class:"btn btn-outline-dark" %> <%= link_to "Delete this rental", 
    book_rental_path(rental.book, rental),
    method: :delete,
    class:"btn btn-outline-dark"%>
  <% end  %>
<% end  %>
