<h1>My rented books</h1>
<ul>
  <% @rentals.each do |rental| %>
    <% if rental.user == current_user %>

        <li> <%= rental.book[:title] %> - <%= rental.book[:author]%> - <%= rental.start_date %> - <%= rental.end_date %> - <%= link_to "Edit rental", edit_book_rental_path(rental.book, rental) %></li>

    <% end  %>
  <% end  %>
</ul>
