  <div class="banner" style="height: 400px; padding: 20px; margin: 0; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'library.jpg' %>); background-size: cover";>
    <div class="container">
      <h1 style="padding-top: 100px">Share your books</h1>
      <div style ="padding-top-bottom: 10px;">
      <%= form_tag books_path, id: "search_form", method: :get do %>
      <%= text_field_tag :global_search,
      params[:global_search],
      class: "form-control",
      placeholder: "Find a book" %>
      <div style= "margin-top: 10px">
      <%= submit_tag "Got for it", class: "btn btn-outline-light", form: "search_form" %>
    </div>
    <% end %>
    <div style= "margin-top: 20px">
  <%= link_to "Add a new book", new_book_path, class: "btn btn-outline-light" %>

</div>

    </div>
    </div>
  </div>


  <div class="card-product d-flex justify-content-between">
    <% @books.each do |book| %>
    <%= image_tag "four-hour.jpg" %>
    <div class="card-product-infos">
      <%= link_to book_path(book.id) do %>
      <h2><%= book.title %></h2>
      <p><%= book.author%></p>
      <% end  %>
    </div>
    <% end  %>
  </div>




