
<div class="card-category" style=" height: 250px; padding: 20px; margin: 0; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path 'books-bg.jpg' %>); background-size: cover">

<h1>Share your books</h1>
</div>

<div class="card-product">
  <% @books.each do |book| %>
  <%= image_tag "four-hour" %>
  <div class="card-product-infos">
    <%= link_to book_path(book.id) do %>
    <h2><%= book.title %></h2>
    <p><%= book.author%></p>
    <% end  %>
  </div>
  <% end  %>
</div>
<div>
<%= link_to "Add a new book", new_book_path, class: "btn btn-ghost" %>

</div>


