<div class="container w-100 text-center">
<% if @book.photo.attached?%>
            <%= cl_image_tag @book.photo.key, height: 500, width: 350 %>
          <% else %>
            <%= image_tag "four-hour.jpg", height: 500, width: 350 %>
          <% end %>
  <h1><%= @book.title %></h1>
  <p><%= @book.author %></p>
  <p><%= @book.language %></p>
  <p><%= @book.subject %></p>
  <p><%= @book.pages %></p>
  <p><%= @book.year %></p>
  <p><%= @book.summary %></p>

  <% if @book.user == current_user %>
    <%= link_to "Edit book", edit_book_path, class:"btn btn-ghost"  %>
  <% end %>

  <% if @book.user == current_user %>
    <%= link_to "Delete this book",
      book_path(@book),
      method: :delete,
      data: { confirm: "Are you sure?" }, class:"btn btn-ghost"%> </li>
  <% end %>

  <%= link_to "Back to Library", books_path, class: "btn btn-ghost" %>

  <%= link_to "Rent this book", new_book_rental_path(@book.id), class: "btn btn-ghost" %>

</div>
